body {
    height: 100vh;
    overflow: hidden;
    max-width: 1280px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: minmax(340px, 25%) 1fr;
}

#navbar {
    height: 100vh;
    overflow-Y: scroll;
}

#main-doc {
    height: 100vh;
    overflow-Y: scroll;
}
